advent-of-code-data
aocd-example-parser
attrs
beautifulsoup4
certifi
charset-normalizer
click
exceptiongroup
graphviz
idna
iniconfig
Levenshtein
mpmath
numpy
packaging
Pebble
pluggy
prettytable
pyinstrument
pytest
python-dateutil
pytz-deprecation-shim
rapidfuzz
requests
scipy
six
soupsieve
sympy
termcolor
tomli
tqdm
tzdata
tzlocal
urllib3
wcwidth